/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/Roboto/Roboto-Black.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-Italic.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-Light.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-Thin.ttf") format("truetype"),
    url("/Fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("/Fonts/Open\ Sans/OpenSans-Bold.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-BoldItalic.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-ExtraBold.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-Italic.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-Light.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-LightItalic.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-Regular.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-SemiBold.ttf") format("truetype"),
    url("/Fonts/Open\ Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("/Fonts/Merriweather/Merriweather-Black.ttf") format("truetype"),
    url("/Fonts/Merriweather/Merriweather-BlackItalic.ttf") format("truetype"),
    url("/Fonts/Merriweather/Merriweather-Bold.ttf") format("truetype"),
    url("/Fonts/Merriweather/Merriweather-BoldItalic.ttf") format("truetype"),
    url("/Fonts/Merriweather/Merriweather-Italic.ttf") format("truetype"),
    url("/Fonts/Merriweather/Merriweather-Light.ttf") format("truetype"),
    url("/Fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype"),
    url("/Fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

/* Box Sizing */

* {
  box-sizing: border-box;
}

/* Body styles */

body {
  font-family: "Open Sans", sans-serif;
  background-color: coral;
}

/* Header styles */

h1 {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/* section styles */

section {
  border: 3px solid black;
  padding-left: 20px;
  margin: 20px;
  font-size: 18px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 30px;
    font-style: italic;
  }

/* Colors section styles */

.DarkBlue {
  background-color: #00008b;
  color: white;
  text-align: center;
  width: 300px;
  display: inline-block;
  margin: 20px 40px;
}

.FloralWhite {
  background-color: #fffaf0;
  color: black;
  text-align: center;
  width: 300px;
  display: inline-block;
  margin: 20px 40px;
}

.LightGray {
  background-color: #d3d3d3;
  color: black;
  text-align: center;
  width: 300px;
  display: inline-block;
  margin: 20px 40px;
}

/* Fonts section styles */

.Roboto {
    font-family: "Roboto";
    width: 330px;
    display: inline-block;
    margin: 0px 20px 20px;
}

.OpenSans {
    font-family: "Open Sans";
    width: 330px;
    display: inline-block;
    margin: 0px 20px 20px;
}

.Merriweather {
    font-family: "Merriweather";
    width: 330px;
    display: inline-block;
    margin: 0px 20px 20px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* Text Styles section styles */

.MainHeading {
    font-family: "Merriweather";
}

.MainHeading h3 {
    font-size: 36px;
    font-weight: 700;
}

.SubHeading {
    font-family: "Roboto";
}

.SubHeading h3 {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}

.Paragrapg {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 500;
}

/* Footer styles */

footer {
    text-align: right;
    padding-right: 40px;
}